





.menu{

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30rem;
    padding: 0;
  }

  &-item{
    list-style: none;
  }
}