





.boutonInscrit{
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: $orangeP;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 10px 0;
}

.boutonBleu{
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: $bleuP;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 10px 0;
}