@charset "UTF-8";
/**
 * @author Prenom Nom courriel
 * @todo Lier les modules avec des instructions @import
 * @todo Compléter selon l'énoncé de l'exercice
 */
/*
 * ------------------
 * TABLE DES MATIERES
 * ------------------
 * Librairies
 ** Normalize
 * UTILITAIRES
 ** Variables
 ** Mixins
 * BASE
 ** Typographie
 ** Hyperliens
 ** Boutons
 * MODULES
 ** gds - Styles généraux du Guide de styles
 ** palette - Palette de couleurs
 ** listeInteractivite - Éléments interactifs
 */
/****** Librairies ******/
/** Normalize **/
/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**** UTILITAIRES ****/
/** Variables **/
/**
* @author Prenom Nom courriel
* @todo Importer la fonte Futura
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
* @todo Utiliser le sélecteur & pour les sélecteurs des différentes couleurs
*/
/** Polices de caractères **/
/** Palette de couleurs **/
/* Couleurs de base */
/** Points de rupture **/
/** Mixins **/
/****** BASE ******/
/** Typographie **/
/** Hyperliens **/
a {
  text-decoration: none;
}
a:hover, a:active, a:link, a:visited {
  color: #FFFFFF;
}

/** Boutons **/
.boutonInscrit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.125rem;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: #F88728;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 10px 0;
}
@media (min-width: 940px) {
  .boutonInscrit {
    width: 235px;
    height: 40px;
    padding: 5px 0;
  }
}

.boutonBleu {
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: #004C94;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 10px 0;
}

@media (min-width: 940px) {
  .boutonHautPage {
    margin-top: 80px;
    font-size: 30px;
    text-align: right;
  }
}
@media (min-width: 940px) {
  .boutonHautPage__bouton {
    background-color: #F88728;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 40px;
    padding: 15px 0;
  }
}

/****** LAYOUT ******/
* {
  box-sizing: border-box;
}

body {
  font-family: Rubik, sans-serif;
}

p, h1, h2, h3 {
  margin: 0;
}

.conteneur {
  margin: 0 auto;
  max-width: 375px;
  padding: 0 10px;
}
@media (min-width: 940px) {
  .conteneur {
    max-width: 1000px;
    position: relative;
    padding: 0;
  }
}

.formation__top__info {
  margin-top: 50px;
  font-weight: 700;
  font-size: 18px;
  border: 5px solid #F88728;
  border-radius: 8px;
  padding: 5px 10px;
}
@media (min-width: 940px) {
  .formation__top__info {
    max-width: 860px;
    margin: 50px auto 0 auto;
  }
}
.formation__top__info__p1__span {
  font-size: 18px;
  color: #F88728;
}
@media (min-width: 940px) {
  .formation__top__info__p1__span {
    font-size: 24px;
  }
}
.formation__top__info__p2 {
  margin-top: 20px;
}
.formation__top__fichesInfo {
  margin-top: 50px;
}
.formation__top__fichesInfo__titre {
  font-size: 24px;
}
.formation__top__fichesInfo__fiches {
  color: #FFFFFF;
  margin: 20px -10px 0 -10px;
}
@media (min-width: 940px) {
  .formation__top__fichesInfo__fiches {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.formation__top__fichesInfo__fiches__entete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 940px) {
  .formation__top__fichesInfo__fiches__entete {
    justify-content: center;
  }
}
.formation__top__fichesInfo__fiches__entete__h2 {
  font-size: 24px;
  text-transform: uppercase;
  padding-left: 5px;
}
@media (min-width: 940px) {
  .formation__top__fichesInfo__fiches__entete__h2 {
    padding-bottom: 20px;
  }
}
.formation__top__fichesInfo__fiches__entete__- {
  font-size: 48px;
  padding-right: 20px;
}
@media (min-width: 940px) {
  .formation__top__fichesInfo__fiches__entete__- {
    display: none;
  }
}
.formation__top__fichesInfo__fiches__fiche {
  padding: 10px;
}
@media (min-width: 1000px) {
  .formation__top__fichesInfo__fiches__fiche {
    width: 500px;
  }
}
.formation__top__fichesInfo__fiches__p {
  font-weight: 300;
}
.formation__top__fichesInfo__fiches__titreListe {
  margin-top: 30px;
  font-weight: 300;
  text-transform: uppercase;
}
.formation__top__fichesInfo__fiches__listes {
  display: flex;
  flex-direction: row;
}
.formation__top__fichesInfo__fiches__liste {
  width: 160px;
}
.formation__bourses {
  color: #FFFFFF;
  background-color: #002E76;
  margin-top: 30px;
  padding-bottom: 30px;
}
.formation__bourses__titre {
  padding-top: 20px;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 940px) {
  .formation__bourses__titre {
    font-size: 60px;
  }
}
.formation__bourses__texte {
  font-size: 18px;
  font-weight: 300;
  margin-top: 20px;
}
.formation__bourses__bouton {
  margin-top: 30px;
}
@media (min-width: 940px) {
  .formation__bourses__bouton__alignRight {
    text-align: right;
  }
}
.formation__bottom__grille {
  border: solid 5px #F88728;
  border-radius: 8px;
  margin: 30px -10px;
  padding: 20px 10px;
}
@media (min-width: 940px) {
  .formation__bottom__grille {
    display: flex;
    justify-content: left;
    width: 50%;
  }
}
.formation__bottom__grille__p {
  padding-top: 20px;
  font-weight: 300;
}
.formation__bottom__grille__boutons__grille {
  margin-top: 20px;
}
.formation__bottom__grille__boutons__p {
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.formation__bottom__grille__boutons__telecharger {
  margin-top: 20px;
}
.formation__bottom__temoignages {
  margin: 0 -10px;
}
@media (min-width: 940px) {
  .formation__bottom__temoignages {
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
  }
}
.formation__bottom__temoignages__temoignage {
  background-color: #004C94;
  color: #FFFFFF;
  padding: 20px 10px;
  margin-top: 20px;
}
@media (min-width: 940px) {
  .formation__bottom__temoignages__temoignage {
    border-radius: 8px;
  }
}
.formation__bottom__temoignages__titre {
  padding: 20px 10px 0 10px;
  font-weight: 700;
}
@media (min-width: 940px) {
  .formation__bottom__temoignages__titre {
    padding-top: 0;
  }
}
.formation__bottom__temoignages__photoInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.formation__bottom__temoignages__photoInfo__photo {
  background-color: #FFFFFF;
  color: #000000;
  width: 178px;
  height: 203px;
  border-radius: 8px;
}
.formation__bottom__temoignages__photoInfo__photo__image {
  border-radius: 8px;
  border: solid 5px #FFFFFF;
  width: 168px;
  height: 168px;
}
.formation__bottom__temoignages__photoInfo__photo__annee {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}
.formation__bottom__temoignages__photoInfo__info {
  padding: 0 20px;
}
@media (min-width: 940px) {
  .formation__bottom__temoignages__photoInfo__info {
    font-size: 24px;
    font-weight: 700;
  }
}
.formation__bottom__temoignages__photoInfo__info__emploi {
  padding-top: 20px;
}
.formation__bottom__temoignages__texte {
  margin-top: 20px;
}
.formation__bottom__inscription {
  margin-top: 20px;
}
@media (min-width: 940px) {
  .formation__bottom__inscription {
    display: flex;
    justify-content: left;
    width: 50%;
  }
}
.formation__bottom__inscription__info {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
}
.formation__bottom__inscription__info__span {
  font-weight: 700;
  color: #004C94;
}
.formation__bottom__inscription__sousTitre {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}
.formation__bottom__inscription__tours {
  display: flex;
  flex-direction: row;
  color: #FFFFFF;
  margin: 0 -10px;
}
@media (min-width: 940px) {
  .formation__bottom__inscription__tours {
    margin: 0;
    justify-content: center;
  }
}
.formation__bottom__inscription__tours__tour {
  width: 94px;
  text-align: center;
}
@media (min-width: 940px) {
  .formation__bottom__inscription__tours__tour {
    width: 100%;
  }
}
.formation__bottom__inscription__tours__tour.t1 {
  background-color: #086AB2;
}
.formation__bottom__inscription__tours__tour.t2 {
  background-color: #004C94;
}
.formation__bottom__inscription__tours__tour.t3 {
  background-color: #002E76;
}
.formation__bottom__inscription__tours__tour.t4 {
  background-color: #001058;
}
.formation__bottom__inscription__tours__tour__xTour {
  margin: 10px 0 20px 0;
}
.formation__bottom__inscription__tours__tour__dateTour {
  margin-bottom: 10px;
}
.formation__bottom__inscription__bouton {
  margin: 20px 0;
}
@media (min-width: 940px) {
  .formation__bottom__inscription__bouton__alignRight {
    text-align: right;
  }
}
.formation__bottom__question {
  border-top: solid 5px #004C94;
  border-bottom: solid 5px #004C94;
  margin: 30px -10px 0 -10px;
  padding: 0 10px 30px 10px;
}
@media (min-width: 940px) {
  .formation__bottom__question {
    display: flex;
    justify-content: left;
    width: 50%;
  }
}
.formation__bottom__question__titre {
  padding-top: 20px;
}
.formation__bottom__question__p {
  padding-top: 20px;
  font-weight: 300;
}
.formation__bottom__question__p__span {
  font-weight: 700;
  color: #004C94;
}
.formation__bottom__question__boutonsSylvain {
  font-size: 18px;
  padding-top: 15px;
  margin-top: 20px;
}
.formation__bottom__etudiantJour {
  margin-top: 30px;
}
@media (min-width: 940px) {
  .formation__bottom__etudiantJour {
    display: flex;
    justify-content: left;
    width: 50%;
  }
}
.formation__bottom__etudiantJour__info__p {
  padding-top: 20px;
  font-weight: 300;
}
.formation__bottom__etudiantJour__info__p__span {
  font-weight: 700;
  color: #004C94;
}
.formation__bottom__etudiantJour__info__boutonsBenoit {
  font-size: 18px;
  padding-top: 15px;
  margin-top: 20px;
}
.formation__bottom__etudiantJour__image {
  border: solid 5px #F88728;
  margin-top: 20px;
  margin: 20px -10px 0 -10px;
  width: 375px;
}
@media (min-width: 940px) {
  .formation__bottom__etudiantJour__image {
    width: 100%;
  }
}

.programmation {
  background-color: #001058;
}

.integration {
  background-color: #002E76;
}

.conception {
  background-color: #004C94;
}

.media {
  background-color: #086AB2;
}

.autres {
  background-color: #2688D0;
}

.contact__titre {
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
  margin: 30px 0;
}
.contact__responsables {
  display: flex;
  flex-direction: column;
}
@media (min-width: 940px) {
  .contact__responsables {
    flex-direction: row;
  }
}
.contact__responsables__responsable {
  border-radius: 8px;
  margin: 0 auto 20px auto;
  padding-bottom: 20px;
  background-color: #004C94;
  color: #FFFFFF;
}
.contact__responsables__responsable__image {
  width: 235px;
  height: 235px;
  border: 5px solid #004C94;
  border-radius: 8px;
}
.contact__responsables__responsable__nom {
  padding: 10px 0 0 5px;
  font-size: 24px;
  font-weight: 500;
}
.contact__responsables__responsable__poste {
  padding: 5px 0 0 5px;
  font-size: 16px;
  font-weight: 300;
  width: 225px;
}
.contact__responsables__responsable__titreTelephone {
  padding: 20px 0 0 5px;
  font-size: 18px;
  font-weight: 500;
}
.contact__responsables__responsable__numeroTelephone {
  padding: 5px 0 0 5px;
  font-size: 16px;
  font-weight: 300;
}
.contact__formulaire {
  margin-top: 50px;
  border: solid 5px #F88728;
  border-radius: 8px;
  background-color: #F0F0F0;
  padding: 0 10px;
}
@media (min-width: 940px) {
  .contact__formulaire {
    width: 660px;
    margin: 50px auto 0 auto;
  }
}
.contact__formulaire__groupInput {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 940px) {
  .contact__formulaire__groupInput {
    width: 386px;
  }
}
.contact__formulaire__label {
  font-size: 16px;
}
.contact__formulaire__label__labelCheckbox {
  font-weight: 300;
}
.contact__formulaire__input {
  height: 50px;
  margin-top: 5px;
  border-color: #B4B4B4;
  border-radius: 8px;
  box-sizing: border-box;
}
.contact__formulaire__input__checkbox {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.contact__formulaire__input__message {
  height: 300px;
  margin-top: 5px;
  border-color: #B4B4B4;
  border-radius: 8px;
  box-sizing: border-box;
  resize: none;
}
.contact__formulaire__exemple {
  padding-top: 5px;
  color: #787878;
}
.contact__formulaire__autorisation {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
}
.contact__formulaire__erreur {
  display: none;
}
.contact__formulaire__bouton {
  color: #FFFFFF;
  margin: 30px 0;
}
@media (min-width: 940px) {
  .contact__formulaire__bouton {
    width: 300px;
  }
}

@media (min-width: 940px) {
  .horsAccueil {
    display: none;
  }
}

.realisations__titre {
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
}
@media (min-width: 940px) {
  .realisations__titre br {
    display: none;
  }
}
.realisations__boutons__navigation {
  margin-top: 30px;
}
@media (min-width: 940px) {
  .realisations__boutons__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.realisations__boutons__navigation__lien {
  margin-top: 20px;
}
@media (min-width: 940px) {
  .realisations__boutons__navigation__lien {
    width: 320px;
  }
}
.realisations__galerie {
  margin: 30px -10px 0 -10px;
  padding: 0 10px;
}
@media (min-width: 940px) {
  .realisations__galerie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.realisations__galerie__realisation {
  display: flex;
  flex-direction: column;
  margin: 20px -10px 0 -10px;
  padding: 10px 10px;
  background-color: #004C94;
  height: 332px;
}
@media (min-width: 940px) {
  .realisations__galerie__realisation {
    width: 320px;
    height: 100%;
    border-radius: 8px;
    margin-top: 30px;
  }
}
.realisations__galerie__realisation__titre {
  font-size: 18px;
  padding-top: 10px;
}
.realisations__galerie__realisation__nom {
  font-size: 18px;
  padding-top: 30px;
}
.realisations__boutons {
  font-size: 18px;
  padding-top: 15px;
  margin-top: 30px;
}
@media (min-width: 940px) {
  .realisations__boutons {
    margin-top: 50px;
    width: 320px;
    margin-right: auto;
    margin-left: auto;
  }
}

.ficheRealisation__photoPrincipale {
  margin-top: 30px;
  border: 5px solid #F88728;
  width: 355px;
  border-radius: 8px;
}
.ficheRealisation__infos {
  margin-top: 20px;
}
.ficheRealisation__infos__infoRealisation {
  font-size: 18px;
}
.ficheRealisation__infos__infoRealisation__titre {
  font-size: 32px;
}
.ficheRealisation__infos__infoRealisation__nomAnnee {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.ficheRealisation__infos__infoRealisation__nomAnnee__nom {
  width: 168px;
}
.ficheRealisation__infos__infoRealisation__nomAnnee__annee {
  padding-right: 30px;
}
.ficheRealisation__infos__infoRealisation__cours {
  margin-top: 20px;
}
.ficheRealisation__infos__infoRealisation__description {
  margin-top: 20px;
  font-weight: 300;
}
.ficheRealisation__infos__infoRealisation__technologies {
  background-color: #004C94;
  margin: 30px -10px 0 -10px;
  padding: 20px 10px;
  color: #FFFFFF;
}
.ficheRealisation__infos__infoRealisation__technologies__titreListe {
  font-size: 18px;
}
.ficheRealisation__infos__infoRealisation__technologies__listes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.ficheRealisation__infos__infoRealisation__technologies__liste {
  padding-left: 15px;
  width: 168px;
  margin-bottom: 0;
}
.ficheRealisation__infos__autresImages__image {
  border: 5px solid #F88728;
  margin-top: 20px;
  width: 355px;
  border-radius: 8px;
}
.ficheRealisation__biographie {
  display: none;
}
.ficheRealisation__biographie__mobile {
  background-color: #004C94;
  color: #FFFFFF;
  margin: 30px -10px 0 -10px;
  padding: 20px 10px 30px 10px;
}
.ficheRealisation__biographie__mobile__titre {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}
.ficheRealisation__biographie__mobile__texte {
  margin-top: 20px;
  font-weight: 300;
}
.ficheRealisation__biographie__mobile__image {
  border: 5px solid #F88728;
  width: 168px;
  float: left;
  margin: 0 10px 0 0;
}
.ficheRealisation__biographie__mobile__media {
  margin-top: 30px;
  font-size: 40px;
  text-align: center;
}
.ficheRealisation__biographie__mobile__media__lien {
  width: 50px;
  height: 50px;
  background-color: #000000;
  text-align: center;
  border-radius: 8px;
  padding-top: 5px;
  margin: 0 5px;
}
@media (min-width: 940px) {
  .ficheRealisation__biographie__mobile {
    display: none;
  }
}
.ficheRealisation__autresProjets {
  margin-top: 30px;
}
.ficheRealisation__autresProjets__galerie {
  background-color: #004C94;
  height: 332px;
  margin: 30px -10px 0 -10px;
  padding: 20px 10px 0 10px;
}
.ficheRealisation__autresProjets__galerie__realisation__titre {
  font-size: 18px;
  margin-top: 20px;
}
.ficheRealisation__autresProjets__galerie__realisation__nom {
  font-size: 18px;
  margin-top: 30px;
}
.ficheRealisation__autresProjets__galerie__realisation__image {
  width: 355px;
}
.ficheRealisation__boutonRetour {
  padding-top: 15px;
  margin-top: 30px;
  font-size: 18px;
}

.stages__titre {
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  margin-top: 30px;
}
@media (min-width: 940px) {
  .stages__titre {
    margin-top: 50px;
  }
}
.stages__texteIntro {
  font-weight: 500;
  font-size: 18px;
  margin-top: 30px;
}
@media (min-width: 940px) {
  .stages__texteIntro {
    margin-top: 50px;
  }
}
.stages__stagesInfo {
  margin: 30px -10px 0 -10px;
  color: #FFFFFF;
}
@media (min-width: 940px) {
  .stages__stagesInfo {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
.stages__stagesInfo__stageATE {
  background-color: #002E76;
  padding: 20px 10px;
}
@media (min-width: 940px) {
  .stages__stagesInfo__stageATE {
    flex-basis: 48%;
  }
}
.stages__stagesInfo__stageATE__titre {
  font-size: 24px;
}
.stages__stagesInfo__stageATE__texte {
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
}
.stages__stagesInfo__stageATE__dureeDate {
  background-color: #2688D0;
  margin: 20px -10px 0 -10px;
  padding: 20px 10px;
}
@media (min-width: 940px) {
  .stages__stagesInfo__stageATE__dureeDate {
    margin-top: 58px;
  }
}
.stages__stagesInfo__stageATE__date {
  font-size: 24px;
}
.stages__stagesInfo__stageATE__date__span {
  font-weight: 300;
}
.stages__stagesInfo__stageATE__duree {
  font-size: 24px;
  margin-top: 20px;
}
.stages__stagesInfo__stageATE__duree__span {
  font-weight: 300;
}
.stages__stagesInfo__stageFE {
  background-color: #002E76;
  padding: 20px 10px;
  margin-top: 20px;
}
@media (min-width: 940px) {
  .stages__stagesInfo__stageFE {
    margin-top: 0;
    flex-basis: 48%;
  }
}
.stages__stagesInfo__stageFE__titre {
  font-size: 24px;
}
.stages__stagesInfo__stageFE__texte {
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
}
.stages__stagesInfo__stageFE__dureeDate {
  background-color: #2688D0;
  margin: 20px -10px 0 -10px;
  padding: 20px 10px;
}
.stages__stagesInfo__stageFE__date {
  font-size: 24px;
}
.stages__stagesInfo__stageFE__date__span {
  font-weight: 300;
}
.stages__stagesInfo__stageFE__duree {
  font-size: 24px;
  margin-top: 20px;
}
.stages__stagesInfo__stageFE__duree__span {
  font-weight: 300;
}
.stages__employeurs {
  font-weight: 500;
  margin-top: 30px;
}
@media (min-width: 940px) {
  .stages__employeurs {
    max-width: 660px;
    margin: 30px auto 0 auto;
  }
}
.stages__employeurs__texte {
  margin-top: 20px;
}
.stages__employeurs__texte__02 {
  margin-top: 10px;
}
.stages__employeurs__texte__span {
  font-weight: 700;
  font-size: 18px;
  color: #004C94;
}
.stages__contactezPascal {
  margin: 30px -10px 0 -10px;
  border: 5px solid #F88728;
  padding: 20px 10px;
}
@media (min-width: 940px) {
  .stages__contactezPascal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 940px) {
  .stages__contactezPascal__infos {
    margin-left: 30px;
  }
}
.stages__contactezPascal__infos__texte {
  font-size: 18px;
}
.stages__contactezPascal__infos__telephone {
  font-weight: 300;
  margin-top: 20px;
}
.stages__contactezPascal__infos__telephone__span {
  font-weight: 700;
  color: #004C94;
}
.stages__contactezPascal__boutonPascal {
  margin-top: 30px;
}
@media (min-width: 940px) {
  .stages__contactezPascal__boutonPascal {
    flex-basis: 40%;
    margin-top: 0;
    margin-right: 30px;
  }
}

/****** MODULE ******/
.footer {
  color: #FFFFFF;
  background-color: #004C94;
  padding-bottom: 86px;
  margin-top: 50px;
}
@media (min-width: 940px) {
  .footer {
    padding-bottom: 20px;
  }
}
@media (min-width: 940px) {
  .footer__flex__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
@media (min-width: 940px) {
  .footer__flex__bottom {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
  }
}
.footer__logo__TIM {
  padding-top: 20px;
  text-align: center;
}
.footer__logo__TIM__lien {
  font-size: 80px;
}
.footer__logo__CSF {
  margin-top: 50px;
}
.footer__logo__CSF__lien {
  display: block;
  background-image: url(../images/CSF.svg);
  width: 167px;
  height: 67px;
  background-size: 167px 67px;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.footer__bouton {
  margin-top: 30px;
}
.footer__media {
  margin-top: 40px;
  text-align: center;
  font-size: 50px;
}
.footer__media__bouton {
  width: 60px;
  height: 60px;
  padding: 5px 0;
  border-radius: 8px;
  background-color: #000000;
}
.footer__copyright {
  margin-top: 100px;
  font-weight: lighter;
}
.footer__copyright__small__02 {
  margin-top: 10px;
  display: block;
}

.header {
  position: relative;
  width: 100vw;
}
.header__top {
  background-color: #004C94;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
}
@media (min-width: 940px) {
  .header__top {
    position: static;
    height: 120px;
    justify-content: space-between;
  }
}
.header__top__logo {
  font-size: 60px;
}
@media (min-width: 940px) {
  .header__top__logo {
    font-size: 80px;
  }
}
.header__top__bouton {
  display: none;
}
@media (min-width: 940px) {
  .header__top__bouton {
    display: block;
  }
}
.header__bandeau {
  position: relative;
  background-color: black;
}
.header__bandeau__blockTitre {
  background-color: #2688D0;
  color: #FFFFFF;
  padding: 20px 10px;
}
@media (min-width: 940px) {
  .header__bandeau__blockTitre {
    background-color: transparent;
    position: absolute;
    z-index: 99;
    top: 25%;
    width: 100%;
    padding-left: 15%;
  }
}
.header__bandeau__blockTitre__titre {
  margin: 0;
  font-size: 18px;
}
@media (min-width: 940px) {
  .header__bandeau__blockTitre__titre {
    font-size: 32px;
  }
}
.header__bandeau__blockTitre__p {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}
@media (min-width: 940px) {
  .header__bandeau__blockTitre__p {
    font-size: 32px;
  }
}
.header__bandeau__image {
  display: block;
  width: 100%;
  height: auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
@media (min-width: 940px) {
  .header__bandeau__image {
    opacity: 0.4;
  }
}

.conteneurHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100vw;
  padding: 0 10px;
  position: relative;
}
@media (min-width: 940px) {
  .conteneurHeader {
    max-width: 1000px;
  }
}

/* Bouton du menu (injecté par JavaScript)*/
.navigation {
  max-width: 960px;
  margin: 0;
  order: 2;
}
@media (min-width: 940px) {
  .navigation {
    order: inherit;
  }
}
.navigation__controle {
  background-color: #004C94;
  color: #FFFFFF;
  border: none;
  text-transform: uppercase;
  padding: 10px;
  min-width: 40px;
}
.navigation__controle:hover {
  background-color: #004C94;
  border: 2px solid #FFFFFF;
}
.navigation__controle:active {
  border: 2px solid #FFFFFF;
  background-color: #004C94;
}
.navigation__controle:focus {
  /**
   * Les styles du navigateur utilisent la règle outline pour définir
   * l'état focus des éléments interactifs.
   * Vous pouvez redéfinir cette règle ou remplacer par d'autres styles
   * mieux adaptés à la direction visuelle.
   * MAIS il faut souligner l'état focus et le tester au clavier.
   */
  outline: #FFFFFF auto 5px;
}
@media (min-width: 940px) {
  .navigation__controle {
    display: none;
  }
}

.menu-item {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 18px;
}

/* Liens du menu */
.menu-item a {
  background-color: #2688D0;
  display: block;
  padding: 15px 10px;
  width: 100%;
  /*     outline: none;
       border-left: 5px solid #f5ae09;*/
}
@media (min-width: 940px) {
  .menu-item a {
    background-color: transparent;
  }
}
.menu-item a:link, .menu-item a:visited {
  text-decoration: none;
  color: inherit;
}
.menu-item a:active, .menu-item a:hover {
  text-decoration: underline;
}
.menu-item a--actif {
  border-left: 5px solid #f4d07c;
  text-decoration: underline;
}

/* Liste du menu */
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: none;
}

@media (min-width: 940px) {
  .menu-item {
    display: inline-block;
  }
}

/* Si le javascript est activé */
/* Pour des raisons d'accessibilité, on ne cache le menu mobile
 * que si JavaScript est activé. De cette façon, s'il est désactivé,
 * le menu restera tout de même visible à l'utilisateur.
 */
.js .menu {
  max-height: 100vh;
  overflow: hidden;
  transition: max-height 0.5s;
}

.js .navigation--ferme .menu {
  max-height: 0;
}
@media (min-width: 940px) {
  .js .navigation--ferme .menu {
    max-height: none;
  }
}

.menu-menu-1-container {
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 100%;
}
@media (min-width: 940px) {
  .menu-menu-1-container {
    width: 450px;
    left: 16.5rem;
    top: 25px;
  }
}

/*# sourceMappingURL=styles.css.map */
