/**
* @author Prenom Nom courriel
* @todo Importer la fonte Futura
* @todo Personnaliser les variables selon les spécifications du guide visuel
*       Certaines variables devront être définies par une fonction de coloration
* @todo Compléter selon l'énoncé de l'exercice
* @todo Utiliser le sélecteur & pour les sélecteurs des différentes couleurs
*/

/** Polices de caractères **/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;700&display=swap');

$fontePrimaire : "Rubik", sans-serif;
$fonteSecondaire : "Arial", sans-serif;

/** Palette de couleurs **/
// Utiliser http://chir.ag/projects/name-that-color pour obtenir des noms uniques et mémorisables
// Permettez-vous d'utiliser un nom de variable plus explicite si la suggestion de name-that-color est trop étrange

/* Couleurs de base */
$bleu5: #001058;
$bleu4: #002E76;
$bleuP: #004C94;
$bleu2: #086AB2;
$bleu1: #2688D0;
$orange1: #FFC364;
$orange2: #FFA546;
$orangeP: #F88728;
$orange4: #DA690A;
$orange5: #BC4B00;
$blanc: #FFFFFF;
$noir: #000000;
$gris5: #787878;
$gris4: #969696;
$gris3: #B4B4B4;
$gris1: #F0F0F0;

//$bleuMoyenTransparent : transparentize($bleuMoyen, 0.50);
//
///* Autres couleurs */
//$hyperlien: $bleuMarin;

/** Points de rupture **/
$desktop : 940px;