*{
  box-sizing: border-box;
}

body {
  font-family: Rubik, sans-serif;
}

p, h1, h2, h3 {
  margin: 0;
}

.conteneur {
  margin: 0 auto;
  max-width: 375px;
  padding: 0 10px;
  @media (min-width: $desktop) {
    max-width: 1000px;
    position: relative;
    padding: 0;
  }
}

.horsAccueil{
  @media (min-width: $desktop) {
    display: none;
  }
}